<h1>Edit Your Account!</h1>
<form action='/users/<%=@user.id%>' method='POST'>
    <input type="hidden" name="_method" value="patch">
    <label for="username">Username:</label><br>
  <input id="username" type="text" name="username" value="<%=@user.username%>" ><br>
  <input type="submit" value="Edit Username">
  <br>
  <div class="container">
  <a class="button" href="/">Home</a>
  </div>
    </form>
