<h1>Delete <%= @books.title %>?</h1>
<h1>Deleting this book is permanent!</h1>
<form method='post' action='/books/<%= @books.id %>'>
    <input type='hidden' name='_method' value="DELETE">
    <input type='submit' value="Yes, delete this book.">
    <a class="button" href="/">Home</a>
</form>