<h1>Our Current Bookshelf!</h1>
<ul>
    <li><% @books.each do |book| %><br><br>
        <a href="/books/<%= book.id %>"><%= book.title %></a>
    <%end%>
    </li>
</ul>
<br>
<a class="button" href="books/new">Create Book</a>
<a class="button" href="/">Home</a>
<a class="button" href="/users/logout">Logout!</a>

