<h1>Add A New Book!</h1>
<form action="/books" method="POST">

  <input type="text" name="title" placeholder="Title:">
  <br>
  <input type="text" name="author" placeholder="Author:">
  <br><br>
  <label>Summary:</label>
  <br>
  <textarea id="content" name="content"></textarea>
  <input type="submit" value="Add New Book">
  <div class="container">
  <a class="button" href="/">Home</a>
  </div>
</form>
