<h1>Current Reviews!</h1>
<ul>
    <li><% @reviews.each do |review| %><br><br>
        <a href="/reviews/<%= review.id %>"><%= review.review_title %></a>
    <%end%>
    </li>
</ul>
<div class="container">
<a class="button" href="/">Home</a>
</div>
