<h1>Reviews</h1>
<h3>Book:</h3><%=@reviews.book_id%>
    <br>
    <h4>User:</h4> <%= @review.user_id %>
    <br>
    <h4>Title:</h4> <%= @reviews.title %>
    <br>
    <h4>Content:</h4> <%= @reviews.content %>
   <br>
<a class="button" href="/">Home</a>