<h1>Write a new review</h1>
<form action="/reviews" method="POST">
  <label>Review Title:</label>
  <br>
  <input type="text" name="review_title">
  <br>
  <label>Review:</label>
  <br>
  <textarea id="review_content" name="review_content"></textarea>
  <input type="submit" value="Add New Review">
</form>
<a class="button" href="/">Home</a>