    <h1 class='centered'>Welcome to The Shared Shelf</h1>
    <div class='centered'> <a href="/users">Log In</a></div>
        <br>
     <div class='centered'> <a href="/users/new">Sign Up</a></div>
    <div class='centered' class="container">
  <header><img src="images/prettybooks.jpeg" class="mainImage"></header>
  </div>
         

   

    
